<!DOCTYPE html>
<html>
    <head>
        <style>
            body {
                background-color: #F5F9E9;
                margin: 0;
            }

            #new-image-title {
                text-align: center;
                color: #B88C9E;
                font-size: 3rem; 
            }

            #form {
                text-align: left;
                background-color: #B88C9E;
                padding: 2rem;
                margin: 0 5em;
                font-size: 2rem;
            }

            #space {
                margin: 1rem;
            }
        </style>
    </head>
    <body>
        <h1 id="new-image-title">New Image for your gallery!</h1>
        <div id="form">
            <%= form_for @image do |f|%>
                <%= f.label 'Choose a file to attach your image' %><br>
                <%= f.file_field :image %>
                <div id="space"></div>
                <%= f.label 'Once your file is uploaded, click add photo' %><br>
                <%= f.submit "Add Photo"%>
            <%end%>
        </div>
    </body>
</html>